In [2]:
import pandas as pd

In [3]:
merged_df = pd.read_csv('merged_data.csv')

In [4]:
merged_df.describe()

,Account.ID,Open.Count,Email.Retry.Count,Email.Link.Click.Count,Email.Template.ID,Email.Error.Code,Email.Final.Receipt,Invalid.Email.Address,Email.Address.Bounce.Count,X.x,Salutation,X.y
count,5701.000000,2217.000000,2484.0,276.000000,5701.000000,33.000000,0.0,0.0,41.000000,0.0,0.0,0.0
mean,1736.053499,3.930537,2.0,1.195652,231.903175,547.696970,NaN,NaN,1.292683,NaN,NaN,NaN
std,1120.249479,61.313773,0.0,0.860095,4.715308,17.232754,NaN,NaN,0.813754,NaN,NaN,NaN
min,8.000000,1.000000,2.0,1.000000,223.000000,452.000000,NaN,NaN,1.000000,NaN,NaN,NaN
25%,845.000000,1.000000,2.0,1.000000,227.000000,550.000000,NaN,NaN,1.000000,NaN,NaN,NaN
50%,1618.000000,1.000000,2.0,1.000000,236.000000,550.000000,NaN,NaN,1.000000,NaN,NaN,NaN
75%,2367.000000,2.000000,2.0,1.000000,236.000000,550.000000,NaN,NaN,1.000000,NaN,NaN,NaN
max,7099.000000,2760.000000,2.0,8.000000,236.000000,554.000000,NaN,NaN,5.000000,NaN,NaN,NaN

In [5]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5701 entries, 0 to 5700
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Account.ID                     5701 non-null   int64
 1   Email.First.Open.Date          2217 non-null   object
 2   Email.Last.Open.Date           2217 non-null   object
 3   Open.Count                     2217 non-null   float64
 4   Email.Recipient.Full.Name..F.  5701 non-null   object
 5   Email                          5701 non-null   object
 6   Email.Retry.Count              2484 non-null   float64
 7   Email.Send.Date.Time           5701 non-null   object
 8   Email.Type                     5701 non-null   object
 9   Email.First.Click.Date         276 non-null    object
 10  Email.Last.Click.Date          276 non-null    object
 11  Email.Link.Click.Count         276 non-null    float64
 12  Email.Template.Name            5701 non-null   object
 13  Email.Link.Name                276 non-null    object
 14  Email.Template.ID              5701 non-null   int64
 15  Email.Address.Opt.Out.Date     184 non-null    object
 16  Email.Error.Code               33 non-null     float64
 17  Email.Error.Note               2 non-null      object
 18  Email.Receipt.Mail.Server      2 non-null      object
 19  Email.Final.Receipt            0 non-null      float64
 20  Email.Last.Attempt.Date        2 non-null      object
 21  Invalid.Email.Address          0 non-null      float64
 22  Email.Last.Modified.Date.Time  184 non-null    object
 23  Email.Address.Bounce.Count     41 non-null     float64
 24  Email.Address.Block.Type       184 non-null    object
 25  Email.Campaign.Name            5701 non-null   object
 26  Email.Address.Opt.Out          143 non-null    object
 27  X.x                            0 non-null      float64
 28  Account.Type                   5701 non-null   object
 29  Salutation                     0 non-null      float64
 30  Full.Name..F.                  5696 non-null   object
 31  Company.Name                   542 non-null    object
 32  Address.Line.1                 2406 non-null   object
 33  City                           2433 non-null   object
 34  State.Province                 2433 non-null   object
 35  Zip.Code                       5675 non-null   object
 36  Largest.Donation.Amount        5701 non-null   object
 37  X.y                            0 non-null      float64
dtypes: float64(10), int64(2), object(26)
memory usage: 1.7+ MB

In [6]:
merged_df['Largest.Donation.Amount'] = merged_df['Largest.Donation.Amount'].apply(lambda x: x.replace(',', ''))

In [7]:
merged_df = merged_df.astype({'Largest.Donation.Amount': 'float64'})

In [8]:
merged_df.drop(columns=['X.y', 'X.x', 'Invalid.Email.Address', 'Email.Final.Receipt', 'Salutation'], inplace=True)

In [9]:
for col in merged_df.columns: 
    if 'date' in col.lower(): 
        merged_df[col] = pd.to_datetime(merged_df[col])

In [10]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5701 entries, 0 to 5700
Data columns (total 33 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Account.ID                     5701 non-null   int64
 1   Email.First.Open.Date          2217 non-null   datetime64[ns]
 2   Email.Last.Open.Date           2217 non-null   datetime64[ns]
 3   Open.Count                     2217 non-null   float64
 4   Email.Recipient.Full.Name..F.  5701 non-null   object
 5   Email                          5701 non-null   object
 6   Email.Retry.Count              2484 non-null   float64
 7   Email.Send.Date.Time           5701 non-null   datetime64[ns]
 8   Email.Type                     5701 non-null   object
 9   Email.First.Click.Date         276 non-null    datetime64[ns]
 10  Email.Last.Click.Date          276 non-null    datetime64[ns]
 11  Email.Link.Click.Count         276 non-null    float64
 12  Email.Template.Name            5701 non-null   object
 13  Email.Link.Name                276 non-null    object
 14  Email.Template.ID              5701 non-null   int64
 15  Email.Address.Opt.Out.Date     184 non-null    datetime64[ns]
 16  Email.Error.Code               33 non-null     float64
 17  Email.Error.Note               2 non-null      object
 18  Email.Receipt.Mail.Server      2 non-null      object
 19  Email.Last.Attempt.Date        2 non-null      datetime64[ns]
 20  Email.Last.Modified.Date.Time  184 non-null    datetime64[ns]
 21  Email.Address.Bounce.Count     41 non-null     float64
 22  Email.Address.Block.Type       184 non-null    object
 23  Email.Campaign.Name            5701 non-null   object
 24  Email.Address.Opt.Out          143 non-null    object
 25  Account.Type                   5701 non-null   object
 26  Full.Name..F.                  5696 non-null   object
 27  Company.Name                   542 non-null    object
 28  Address.Line.1                 2406 non-null   object
 29  City                           2433 non-null   object
 30  State.Province                 2433 non-null   object
 31  Zip.Code                       5675 non-null   object
 32  Largest.Donation.Amount        5701 non-null   float64
dtypes: datetime64[ns](8), float64(6), int64(2), object(17)
memory usage: 1.4+ MB

In [11]:
merged_df.rename(columns={'Email.Recipient.Full.Name..F.': 'Email.Recipient.Full.Name', 'Address.Line.1': 'Address', 'Full.Name..F.': 'Full.Name'}, inplace=True)

In [12]:
merged_df.to_csv('cleaned_merged_df.csv')

In [13]:
merged_df

,Account.ID,Email.First.Open.Date,Email.Last.Open.Date,Open.Count,Email.Recipient.Full.Name,Email,Email.Retry.Count,Email.Send.Date.Time,Email.Type,Email.First.Click.Date,...,Email.Campaign.Name,Email.Address.Opt.Out,Account.Type,Full.Name,Company.Name,Address,City,State.Province,Zip.Code,Largest.Donation.Amount
0,8,NaT,NaT,NaN,Peggy Stebbins,tyandpeggy@gmail.com,2.0,2020-09-23 08:15:52,Campaign Email,NaT,...,Diaper Need Awareness Week,NaN,Individual,Peggy Stebbins,NaN,NaN,NaN,NaN,53538,100.00
1,8,NaT,NaT,NaN,Peggy Stebbins,tyandpeggy@gmail.com,2.0,2021-05-03 10:02:19,Campaign Email,NaT,...,2021 Diaper Drive Golf Outing invite,NaN,Individual,Peggy Stebbins,NaN,NaN,NaN,NaN,53538,100.00
2,8,2022-08-18,2022-08-18,1.0,Peggy Stebbins,tyandpeggy@gmail.com,NaN,2022-08-18 06:30:54,Campaign Email,NaT,...,Bottoms Up Ball Invitation,NaN,Individual,Peggy Stebbins,NaN,NaN,NaN,NaN,53538,100.00
3,9,2021-05-03,2021-06-01,26.0,Samantha Maier,Sglass32085@gmail.com,2.0,2021-05-03 10:02:07,Campaign Email,2021-05-10,...,2021 Diaper Drive Golf Outing invite,NaN,Individual,Samantha Maier,NaN,850 VFW Dr,Prairie Du Sac,WI,53578,25.00
4,9,NaT,NaT,NaN,Samantha Maier,Sglass32085@gmail.com,2.0,2020-09-23 08:15:45,Campaign Email,NaT,...,Diaper Need Awareness Week,NaN,Individual,Samantha Maier,NaN,850 VFW Dr,Prairie Du Sac,WI,53578,25.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5696,5863,NaT,NaT,NaN,Caleb Cox,cjcox.byu@gmail.com,2.0,2021-05-03 10:02:37,Campaign Email,NaT,...,2021 Diaper Drive Golf Outing invite,NaN,Individual,Caleb Cox,NaN,NaN,NaN,NaN,53593,52.01
5697,5863,NaT,NaT,NaN,Caleb Cox,cjcox.byu@gmail.com,2.0,2020-09-23 08:15:53,Campaign Email,NaT,...,Diaper Need Awareness Week,NaN,Individual,Caleb Cox,NaN,NaN,NaN,NaN,53593,52.01
5698,5867,NaT,NaT,NaN,Ken and Lnn Cunningham,ken@kwc1.net,2.0,2021-05-03 10:03:04,Campaign Email,NaT,...,2021 Diaper Drive Golf Outing invite,NaN,Individual,Ken and Lynn Cunningham,NaN,2468 East Helen Street,Seattle,WA,98112,100.00
5699,5867,NaT,NaT,NaN,Ken and Lynn Cunningham,ken@kwc1.net,NaN,2022-08-18 06:31:00,Campaign Email,NaT,...,Bottoms Up Ball Invitation,NaN,Individual,Ken and Lynn Cunningham,NaN,2468 East Helen Street,Seattle,WA,98112,100.00
5700,7099,NaT,NaT,NaN,Julie Wilson,office@umcmh.org,NaN,2022-08-18 06:30:54,Campaign Email,NaT,...,Bottoms Up Ball Invitation,NaN,Individual,Julie Wilson,Mount Horeb United Methodist Church,7809 Starr Grass Drive,Madison,WI,53719,51.96

In [ ]:
def compare_columns(df, col1, col2):
    unique_in_col1 = merged_df[col1].isin(merged_df[col2])
    unique_in_col2 = merged_df[col2].isin(merged_df[col1])
    return df[col1][~unique_in_col1], df[col2][~unique_in_col2]

# Remove leading and trailing spaces to help compare the 2 columns better
merged_df['Email.Recipient.Full.Name'] = merged_df['Email.Recipient.Full.Name'].str.strip()
merged_df['Full.Name'] = merged_df['Full.Name'].str.strip()

# Standardizes amount of space between names to help compare the 2 columns better
merged_df['Email.Recipient.Full.Name'] = merged_df['Email.Recipient.Full.Name'].str.split().str.join(' ')
merged_df['Full.Name'] = merged_df['Full.Name'].str.split().str.join(' ')

unique_in_A, unique_in_B = compare_columns(merged_df, 'Email.Recipient.Full.Name', 'Full.Name')

# it appears that Full.Name and Email.Recipient.Full.Name have many unique values but a lot of them reference the same name just different spellings and nicknames
print("Unique values in A:", unique_in_A.values)
print("Unique values in B:", unique_in_B.values)

Unique values in A: ['Lisa Seidl-Gafner' 'Lisa Seidl-Gafner' 'Katherine Woehrle'
 'Katherine Woehrle' 'Bradley J Niebuhr' 'Bradley J Niebuhr'
 'Bradley J Niebuhr' 'TASC Employee Philanthropy Committee'
 'TASC Employee Philanthropy Committee'
 'TASC Employee Philanthropy Committee' 'Dave Olig' 'Dave Olig'
 'Dave Olig' 'Terese Hankes-Smith' 'Terese Hankes-Smith'
 'Terese Hankes-Smith' 'Florence Beutler' 'Florence Beutler'
 'Florence Beutler' 'J.H. Findorff & Son Inc' 'J.H. Findorff & Son Inc'
 'Debra Rogers' 'DEBBIE ROGERS' 'Michael Ingram' 'Christopher Ziemba'
 'Mackenzie McDaniek' 'Dee Jones' 'Dee Jones' 'Deborah TURMAN'
 'Edie Urness Pondillo' 'Edie Urness Pondillo' 'Deb Schwartz'
 'Susan Austin' 'Tammy Whitford' 'Travis and Sarah Weiss' 'Cheryl Zellmer'
 'Cheryl Zellmer' 'Stephen Barnhart' 'Barb Eschler' 'Kim Krueger'
 'MARGARET Flesch' 'Robert Weber' 'Robert Weber' 'Christine Nodolf'
 'Christine Nodolf' 'Kathy Hicks' 'Doug Rose' 'Doug Rose'
 'Jessica Laszewski' 'Jessica Laszewski' 'Kathy Danielson'
 'Kathy Danielson' 'Gabe Miller' 'Gabe Miller' 'Paul & Karen Tropp'
 'Paul & Karen Tropp' 'Robert Curtis' 'Robert Curtis' 'Dave Hanson'
 'Dave Hanson' 'Annamae Wilken' 'Annamae Wilken' 'Karen & Larry Taff'
 'Karen & Larry Taff' 'Nancy Deaner' 'Nancy Deaner' 'Jane Newman'
 'Jane Newman' 'Nanette and Eric Strennen' 'Nanette and Eric Strennen'
 'Andy Breunig' 'Andy Breunig' 'Barbara and David Diercks'
 'Barbara and David Diercks' 'Sanjay Asthana' 'Sanjay Asthana'
 'Pam Alexander' 'Pam Alexander' 'Rosemary Ryan' 'Rosemary Ryan'
 'Tam Ross' 'Tam Ross' 'Elaine Laufenberg' 'Elaine Laufenberg'
 'Jennifer Kaltenberg' 'Jennifer Kaltenberg' 'Luanne & Bob Ruhland'
 'Luanne & Bob Ruhland' 'LINDA HOOK' 'LINDA HOOK' 'Marsha VanDomelen'
 'Marsha VanDomelen' 'Sue St Louis' 'Sue St Louis' 'Pat Bengsch'
 'Pat Bengsch' 'Jim and Cathy Doyle' 'Jim and Cathy Doyle'
 'Katie McCullough' 'Katie McCullough' 'Debra Evans' 'Debra Evans'
 'Laura Meyer' 'Laura Meyer' 'Patricia Kreibich' 'Patricia Kreibich'
 'Karen Strathman' 'Karen Strathman' 'Kathy Voigt' 'Kathy Voigt'
 'Claudia Morrissey' 'Claudia Morrissey' 'Sandria K. Maass'
 'Sandria K. Maass' 'Terry Wex' 'Tim & Lindsey Elliott'
 'Tim & Lindsey Elliott' 'Eugene Sauer' 'Eugene Sauer' 'Robin Cavanaugh'
 'Tim Wing' 'Tim Wing' 'Luanne Ritsema' 'Luanne Ritsema'
 'Diane Woodbridge' 'Diane Woodbridge' 'Linda Churchill' 'Linda Churchill'
 'Steve & Sherie Sasso' 'Steve & Sherie Sasso' 'John & Mary Volker'
 'John & Mary Volker' 'ALTA RATCLIFFE-TUTEN' 'Machell/Dave Schwarz'
 'Machell/Dave Schwarz' 'T Wojick' 'T Wojick' 'Beverly DeGroot'
 'Beverly DeGroot' 'Kathleen Russell' 'Kathleen Russell' 'Stephen Proces'
 'Stephen Proces' 'Thomas Dunn' 'Thomas Dunn' 'Julie & Philippe Coquard'
 'Julie & Philippe Coquard' 'Kathleen Zwettler' 'Kathleen Zwettler'
 'Kim Alling' 'Kim Alling' 'Deborah Sperle' 'Deborah Sperle'
 'Chris and Janice Kehler' 'Chris and Janice Kehler'
 'Jerry and Karen Gipp' 'Jerry and Karen Gipp' 'Paul Dailey' 'Paul Dailey'
 'Gregory DeWall' 'Gregory DeWall' 'Terrence and Cook' 'Terrence and Cook'
 'Annette Ashley' 'Annette Ashley' 'Sharin Barish' 'Sharin Barish'
 'Frances Denner' 'Frances Denner' 'JOSEPH Guthrie' 'JOSEPH Guthrie'
 'Susan Pierce Jacobsen' 'Susan Pierce Jacobsen' 'Jack & Maureen Janson'
 'Kathleen Pennington' 'Barbara Chmiel' 'Sylvia Pfender' 'Sue Pecotte'
 'Carol Paretsky' 'Carol and Joe Rausch' 'Nancy Knapwurst' 'Vickie Nelson'
 'Val Ash' 'Patricia Pluss' 'Patricia Pluss' 'Ann & Dean Vandeberg'
 'JAMES AN JEAN ANDERSON' 'Charlene Needham' 'Barb Trapp' 'O.L. Bell'
 'O.L. Bell' 'Judith Langley' 'Greg Novinska' 'Wayne Wheeler'
 'Sharon McCredie' 'Holy Cross Lutheran Church & School Esther Circle'
 'Jean and John Dabel' 'Ken Guidinger' 'Susan Bergs' 'Glenda fILLO'
 'Dick and R Radzicki' 'Constance Meier' 'Kathleen Bullis'
 'Susan and Gary Hamblin' 'Rick & Mary Jones' 'Deb & Steve Erickson'
 'Nancy & Dan Battist' 'Jennifer Valley' 'Barbara Reddeman' 'Joe Spolar'
 'Scott A Smith' 'Deborah Roussos' 'Douglas Davis' 'Douglas Davis'
 'Jeannie Roberts' 'Carolyn Ferriano' 'Tom Sweeney' 'Edwin Sommers'
 'James Whitcomb' 'Steve and Kathy Endres' 'Eric Joanie Haugen'
 'Guist Guist' 'Amanda Fehrman' 'Arlene F TOLLISON' 'Aurora Gallman'
 'Aurora Gallman' 'Sheryl Inman' 'Sheryl Inman' 'Mike and Lucy Bertelsen'
 'Mike and Lucy Bertelsen' 'Sue and Tim Bergs' 'Sue and Tim Bergs'
 'Dawn Lemirand-Poepping' 'Dawn Lemirand-Poepping'
 'Ken and Lnn Cunningham']
Unique values in B: ['Brad Niebuhr' 'Brad Niebuhr' 'Brad Niebuhr' nan nan nan
 'Dave & Cathy Olig' 'Dave & Cathy Olig' 'Dave & Cathy Olig'
 'Bob and Terry Smith' 'Bob and Terry Smith' 'Bob and Terry Smith'
 'Florence A Beutler' 'Florence A Beutler' 'Florence A Beutler' nan nan
 'Debra ROGERS' 'Debra ROGERS' 'Delia Jones' 'Delia Jones'
 'Edith Urness-Pondillo' 'Edith Urness-Pondillo' 'Rich Zellmer'
 'Rich Zellmer' 'Bob and Jan Weber' 'Bob and Jan Weber' 'Chris Nodolf'
 'Chris Nodolf' 'DOUGLAS Rose' 'DOUGLAS Rose' 'Jess Laszewski'
 'Jess Laszewski' 'Kathleen Danielson' 'Kathleen Danielson'
 'Gabriel Miller' 'Gabriel Miller' 'Karen Tropp' 'Karen Tropp'
 'Robert Curtis II' 'Robert Curtis II' 'Anna Mae Wilken' 'Anna Mae Wilken'
 'Larry & Karen Taff' 'Larry & Karen Taff' 'Fran and Nancy Deaner'
 'Fran and Nancy Deaner' 'JANE A Newman' 'JANE A Newman'
 'Nanette Strennen' 'Nanette Strennen' 'Andrew Breunig' 'Andrew Breunig'
 'Da5vid and Barbara Diercks' 'Da5vid and Barbara Diercks' 'Susan Asthana'
 'Susan Asthana' 'Pamela Alexander' 'Pamela Alexander' 'Rosmary Ryan'
 'Rosmary Ryan' 'Tammy Ross' 'Tammy Ross' 'Vera Laufenberg'
 'Vera Laufenberg' 'Jenny Kaltenberg' 'Jenny Kaltenberg' 'Luanne Ruhland'
 'Luanne Ruhland' 'Tim HOOK' 'Tim HOOK' 'Marsha Van Domelen'
 'Marsha Van Domelen' 'Susan St Louis' 'Susan St Louis' 'Pat A Bengsch'
 'Pat A Bengsch' 'Jim & Cathy Doyle' 'Jim & Cathy Doyle'
 'Kathryn McCullough' 'Kathryn McCullough' 'Deb Evans' 'Deb Evans'
 'Ralph A Meyer' 'Ralph A Meyer' 'Pat Kreibich' 'Pat Kreibich'
 'Karen and Phil Strathman' 'Karen and Phil Strathman' 'Kathleen Voigt'
 'Kathleen Voigt' 'Claudia Morrissey Morrissey'
 'Claudia Morrissey Morrissey' 'Rodney & Wanda K. Maass'
 'Rodney & Wanda K. Maass' 'Terry and Barbara Wex' 'Tim Elliott'
 'Tim Elliott' 'Gene Sauer' 'Gene Sauer' 'Marlene Cutcher'
 'Marlene Cutcher' 'Tim and Kate Wing' 'Tim and Kate Wing'
 'Michael Ritsema' 'Michael Ritsema' 'Diane and George Woodbridge'
 'Diane and George Woodbridge' 'Robert & Linda Churchill'
 'Robert & Linda Churchill' 'Sherie Sasso' 'Sherie Sasso' 'Mary I Volker'
 'Mary I Volker' 'Tammy Tuten' 'Machell Schwarz' 'Machell Schwarz'
 'Terese Wojick' 'Terese Wojick' 'Carole Mason' 'Carole Mason'
 'James Russell' 'James Russell' 'Betty Proces' 'Betty Proces' 'Tad Dunn'
 'Tad Dunn' 'Philippe and Julie Coquard' 'Philippe and Julie Coquard'
 'Kathie Zwettler' 'Kathie Zwettler' 'Nan Schaefer' 'Nan Schaefer'
 'Kim and Dave Alling' 'Kim and Dave Alling' 'Debbie Sperle'
 'Debbie Sperle' 'Chris Kehler' 'Chris Kehler' 'Karen and Jerry Gipp'
 'Karen and Jerry Gipp' 'Jeanell Dailey' 'Jeanell Dailey' 'Greg DeWall'
 'Greg DeWall' 'Terrence Cook' 'Terrence Cook' 'Annette and Chris Ashley'
 'Annette and Chris Ashley' 'Sharon Barish' 'Sharon Barish' 'Fran Denner'
 'Fran Denner' 'Joseph Guthrie' 'Joseph Guthrie'
 'Susan and Jake Pierce Jacobsen' 'Susan and Jake Pierce Jacobsen'
 'William Janson' 'Kathy Pennington' 'James/Barbara Chmiel'
 'Sylvia Pfender Pfender' 'Carol Umhoefer Rausch' 'Nancy & Ron Knapwurst'
 'Vickie Nelson:' 'Valerie Ash' 'Patricia Ann Pluss' 'Patricia Ann Pluss'
 'James An JEAN ANDERSON' 'Charlene M Needham' 'Barbara Trapp'
 'Mary & O. L. Bell' 'Mary & O. L. Bell' 'Judy Langley' 'Gregory Novinska'
 'Saundra Wheeler' 'S Rose McCredie' 'Esther Circle' 'David Plath'
 'Jean Dabel' 'Kenneth Guidinger' 'Timothy Bergs' 'Glenda Fillo'
 'Constance Eier' 'Kathleen M Bullis' 'Gary Hamblin'
 'Richard & Mary Jones' 'Deb Erickson' 'Brian Valley'
 'Barbara Jean Reddeman' 'Joseph Spolar' 'Scott Smith' 'Deborah B Rousso'
 'Doug Davis' 'Doug Davis' 'Jean Roberts' 'Frank Ferriano'
 'Mr Tom V Sweeney' 'Ed Sommers' 'Jim Whitcomb' 'Kathleen Endres'
 'Joan Haugen' 'Geoff Guist' 'AMY BUTRYMOWICZ' 'Pam Smith'
 'Arlene F Tollison' 'Brooks and Katie Gallman' 'Brooks and Katie Gallman'
 'Mike Bertelsen' 'Mike Bertelsen' 'Sue Bergs' 'Sue Bergs'
 'Dawn Lemirand Poepping' 'Dawn Lemirand Poepping']